@import "~/src/sass/Index.scss";
.main_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .content_qr {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: $body_color;
    padding: 15px;
    h2 {
      margin-top: 20px;
      border-bottom: 2px solid rgb(223, 223, 223);
      padding-bottom: 8px;
      width: 100%;
      text-align: center;
    }
    .ui.secondary.menu {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .content_sidebar {
    width: 30%;
  }
}

// Responsive
@media screen and (max-width: $responsive) {
  .main_content {
    flex-direction: column;
    .content_qr {
      width: 100%;
      padding-bottom: 50px;
      .ui.secondary.menu {
        row-gap: 10px;
      }
    }
    .content_sidebar {
      width: 100%;
    }
  }
}
