@import "~/src/sass/Index.scss";

.Footer_content{
    max-width: $max-width;
    margin: auto;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    a{
        color: #616161;
        font-weight: bold;
        transition: 0.4s ease all;
        text-align: center;
        margin: 0 10px;
        &:hover{
            color: #616161;
            opacity: 0.8;
        }
    }
}