@import "~/src/sass/Index.scss";
.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    background: $background_color;
    width: 98%;
    max-width: $max-width;
    margin: 5vh auto;
    box-sizing: border-box;
    min-height: 50vh;
    border-radius: 5px;
    box-shadow: 0 0px 10px 2px rgba(190, 190, 190, 0.5);
    .main_content {
      display: flex;
    }
  }
  .navbar {
    width: 100%;
    background-color: $background_color;
    box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  }
  .footerbar {
    width: 100%;
    background-color: $background_color;
    margin-top: auto;
  }
}
@media screen and (max-width: $responsive) {
  .main {
    width: 95%;
  }
}

@media screen and (max-width: $small_responsive) {
  .main {
    width: 100%;
    border-radius: 0;
  }
}
